body, #mainWrapper {
	height: 70%;
	background-color:rgb(245, 245, 245);
}

body, .form-control{
	font-size:12px!important;
}

.floatRight{
	float:right;
	margin-right: 18px;
}

.has-error{
	color:red;
}

.formcontainer{
	background-color: #DAE8E8;
	padding: 20px;
}

.tablecontainer{
	padding-left: 20px;
}

.generic-container {
  width:80%;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #EAE7E7;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

.username.ng-valid {
    background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
    background-color: red;
}

.username.ng-dirty.ng-invalid-minlength {
    background-color: yellow;
}

.email.ng-valid {
    background-color: lightgreen;
}

.email.ng-dirty.ng-invalid-required {
    background-color: red;
}

.email.ng-dirty.ng-invalid-email {
    background-color: yellow;
}

button.form-submission {
    background:none!important;
    border:none; 
    padding:0!important;
}

.login-box {
	margin-top: 32px;	
	margin-bottom: 128px;	
}

.authenticated-box {
	margin-top: 32px;	
	margin-bottom: 384px;	
}

.nav-identification-box {
    margin-top: 8px;
    margin-right: 64px;
}

.nav-identification-box > div {
    line-height: 20px;
}

.brand-logo {
	margin-left: 8px;
}

/* DROPDOWN DO NAVBAR */
.dropdown-content {
  min-width: 120px;
  z-index: 1;
  top: 70px !important;
}

body {
    margin-bottom:54px;
}
footer {
    position: fixed;
    height: 54px;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
footer div {
	margin-left: 8px;
	color: white; 
    border-top: 1px solid white;
}
footer div p.major {
	margin: 0px;
	padding-top: 8px;
	padding-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
}
footer div p.minor {
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 8px;
	font-size: 12px;
	font-weight: 100;
}

.error-block {
	color: red;
} 
