<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	
	<servlet>
	    <servlet-name>ListServlet</servlet-name>
	    <servlet-class>br.unirio.webdisco.servlets.ServletList</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>ListServlet</servlet-name>
	    <url-pattern>/list.do</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>CreateDiscServlet</servlet-name>
	    <servlet-class>br.unirio.webdisco.servlets.ServletCreateDisc</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>CreateDiscServlet</servlet-name>
	    <url-pattern>/create.do</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>EditDiscServlet</servlet-name>
	    <servlet-class>br.unirio.webdisco.servlets.ServletEditDisc</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>EditDiscServlet</servlet-name>
	    <url-pattern>/edit.do</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>SaveDiscServlet</servlet-name>
	    <servlet-class>br.unirio.webdisco.servlets.ServletSaveDisc</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>SaveDiscServlet</servlet-name>
	    <url-pattern>/save.do</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>RemoveDiscServlet</servlet-name>
	    <servlet-class>br.unirio.webdisco.servlets.ServletRemoveDisc</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>RemoveDiscServlet</servlet-name>
	    <url-pattern>/remove.do</url-pattern>
	</servlet-mapping>
</web-app>