<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<filter>
    	<filter-name>AuthenticationFilter</filter-name>
    	<filter-class>br.unirio.simplemvc.servlets.AuthenticationFilter</filter-class>
    	<init-param>
            <param-name>authService</param-name>
            <param-value>br.unirio.webdisco.services.ServicoAutenticacao</param-value>
    	</init-param>
	</filter>

	<filter-mapping>
    	<filter-name>AuthenticationFilter</filter-name>
    	<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Router</servlet-name>
		<servlet-class>br.unirio.simplemvc.servlets.RouterServlet</servlet-class>
 		<init-param>
            <param-name>actionsPackage</param-name>
            <param-value>br.unirio.webdisco.actions, br.unirio.simplemvc.actions</param-value>
        </init-param>
 		<init-param>
            <param-name>applicationName</param-name>
            <param-value>WebDisco</param-value>
        </init-param>
 		<init-param>
            <param-name>logLevel</param-name>
            <param-value>detail</param-value>
        </init-param>
    </servlet>

	<servlet-mapping>
		<servlet-name>Router</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
		<param-value>pt_BR</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>