<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      th:replace="~{helper/layout :: layout(~{::title}, ~{::div})}">

<head>
    <title>Login</title>
</head>

<body>
  <div layout:fragment="content">
   <br/>
   <div data-ng-view></div>
   <br/><br/>
   <br/><br/>
   <br/><br/>
   <br/><br/>
   <br/><br/>
   <br/><br/>

  <script type="application/javascript">
  var app = angular.module("myApp", ["ngRoute"]);
  
  app.config(function($routeProvider) {
	$routeProvider
	    .when("/", {
	        templateUrl: @{"static/html/login/login/login.html"},
	        controller: "loginController as ctrl"
	    })
	    .when("/forgot", {
	        templateUrl: "static/html/login/forgot/forgot.html",
	        controller: "forgotController as ctrl"
	    })
	    .when("/create", {
	        templateUrl: "static/html/login/create/create.html",
	        controller: "createController as ctrl"
	    })
	    .when("/reset", {
	        templateUrl : "blue.html"
	    })
	    .when("/change", {
	        templateUrl : "blue.html"
	    });
  });
  </script>

  <script type="application/javascript" th:src="@{static/html/login/login/login.controller.js}"></script>
  <script type="application/javascript" th:src="@{static/html/login/forgot/forgot.controller.js}"></script>
  <script type="application/javascript" th:src="@{static/html/login/create/create.controller.js}"></script>
  </div>
  </body>
</html>
