<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">

<head>
    <title>Hello world page</title>
    <link rel="stylesheet" href="/css/hello.css"/>
</head>

<body>
  <div layout:fragment="content" data-ng-app="myApp">
   <br/>
   <div data-ng-view></div>
   <br/><br/>
   <br/><br/>
   <br/><br/>
   <br/><br/>
   <br/><br/>
   <br/><br/>
  </div>

  <script>
  var app = angular.module("myApp", ["ngRoute"]);
  
  app.config(function($routeProvider) {
	$routeProvider
	    .when("/", {
	        templateUrl: "static/html/login/login/login.html",
	        controller: "loginController as ctrl"
	    })
	    .when("/forgot", {
	        templateUrl: "static/html/login/forgot/forgot.html",
	        controller: "forgotController as ctrl"
	    })
	    .when("/create", {
	        templateUrl: "static/html/login/create/create.html",
	        controller: "createController as ctrl"
	    })
	    .when("/reset", {
	        templateUrl : "blue.html"
	    })
	    .when("/change", {
	        templateUrl : "blue.html"
	    });
  });
  </script>

  <script src="static/html/login/login/login.controller.js"></script>
  <script src="static/html/login/forgot/forgot.controller.js"></script>
  <script src="static/html/login/create/create.controller.js"></script>
  </body>
</html>
